
<h1>Article</h1>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.author.email %>
</p>
<br>

<% if @like.persisted? %>
  <%= link_to 'Dislike', article_like_path(@article, @like), method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to 'Like', article_likes_path(@article), method: :post, class: "btn btn-primary btn-xs"%>
<% end %>

<h3>Comments</h3>

<% @article.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>


<%= render 'comments/form' %>

<p>
  <%= link_to 'Back', articles_path, class: "btn btn-primary btn-xs"%>
</p>
